@import "../../libs/variabili.scss";

.modalBackground {
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  background-color: $overlay;

  .groupModal {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20% 0 0 -18%;
    width: 450px;
    height: 230px;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    background-color: $mainGray;
    border: 2px solid $sidebarText;
    opacity: 2 !important;

    padding-bottom: 50px;

    button {
      padding: 10px 40px;
      color: $mainWhite;

      border-radius: 5px;
      border: none;
    }

    .head {
      height: 30px;
      width: 100%;
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;

      h2 {
        margin: 5px;
        padding-bottom: 20px;
      }

      .closeButton {
        width: 30px;
        height: 30px;
        margin: 5px 5px;
        border-radius: 5px;
        font-size: 16px;
        color: gray;
        background-color: transparent;

        &:hover {
          background-color: rgba(189, 185, 185, 0.13);
          color: $mainBlack;
        }
      }
    }
    form {
      position: relative;
      top: 40px;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;

      input {
        margin-top: 10px;
        border-radius: 3px;
        padding: 10px;
      }
      .buttonGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        .modifyButton {
          font-size: 16px;
          background-color: $mainButton;
          &:hover {
            @include hoverButton;
          }
        }

        .deleteButton {
          font-size: 16px;
          background-color: $redButton;
          &:hover {
            @include hoverButtonRed;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .modalBackground {
    width: 100%;
    
    .groupModal {
      @include positionModal;
      height: 200px;

      h2 {
        margin: 5px auto;
        padding-bottom: 10px;
      }
      .closeButton {
        @include buttonModal;
        bottom: 15px;
        left: 50%;
        margin-left: -40px;
        &:hover {
          @include hoverButton;
        }
      }

      form {
        padding: 10px 20px;
        input {
          margin-top: 5px;
          padding: 5px;
        }

        .modifyButton {
          @include buttonModal;
          width: 100px;
          &:hover {
            @include hoverButton;
          }
        }
        .deleteButton {
          @include buttonModalRed;
          width: 100px;
          &:hover {
            @include hoverButtonRed;
          }
        }
      }

    }
  }
}
