@import  "../../libs/variabili.scss";

.searchResults{
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border-bottom: 0.5px solid $sidebarText;

    
    .name{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 5px;
        h4{
            @include myp;        
            color: $mainBlack;
        }

        .icon{
            width: 24px;
            margin: 0
        }
        img {
            width: 24px;
            height: auto;
            border-radius: 4px;
            margin: 0 10px;
        }
    }
    
    .results{
        width: 100%;
        margin-top: 4px;
        .text{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            span {
                margin: 0 15px;
            }
            p{
                @include myp;
                color: $mainBlack;
                text-align: left;
            }

        }     
        .group {
            width: fit-content;
            float: right;  
            p {
                border-radius: 4px;
                background-color: $sidebarText;
                padding: 2px;
                font-size: 12px;
                width: 100%;
                color: $mainBlack;
            }              
        }
    }
}

@media screen and (max-width: 767px) {
    .searchResults{
        flex-direction: column;
        padding: 10px 5px;
        width: 100%;
        .name{
            align-self: flex-start;
            img {
                margin: 0 5px;
            }
        }
        .results{
            
            flex-direction: column;
            margin-top: 5px;
            width: 100%;
            align-items:flex-start; 

            span {
                display: none;
            }
            p {
                display: inline;
                text-align: left;
                margin: 0 0 20px 30px;
                
            }
            
    }
  }

}