@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.SelectCategory {
  cursor: pointer;
  &__MenuTitle {
    @include flex($align: center, $gap:5px);
    font-weight: 700;
    svg{
        font-size: 35px;
    }
  }

  &__CategoriesWrapper {
    background-color: $black-lowOpacity;
    top: 50px;
    position: absolute;
    border: 1px solid #808080;

    ul {
      list-style-type: none;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }

    li {
      padding: 15px 20px;
      text-transform: capitalize;
    }
  }
}

@media all and (max-width: 600px) {
  .SelectCategory {
    display: none;
  }
}