@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.Hero {
  position: relative;
  width: 100vw;
  height: 95vh;

  &__BackgrVid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__WrapOver {
    position: absolute;
    top: 50%;
    left: 35.5%;
    transform: translate(-50%, -50%);
  }

  &__Title {
    max-width: 400px;
    padding-top: 150px;
  }

  &__Desc {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    max-width: 60%;
  }

  &__BtnWrap {
    display: flex;
  }

  button {
    @include flex-center;
    gap: 8px;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;

    >svg {
      font-size: 30px;
    }
  }

  &__BtnPlay:hover {
    background-color: rgb(157, 157, 157);
  }

  &__BtnInfo {
    background-color: rgba(148, 141, 141, 0.317);
    color: $white;

    margin-left: 1em;
  }

  &__BtnInfo:hover {
    background-color: rgba(18, 18, 18, 0.514);
  }

  // &__BtnMute {
  //   margin-top: 10px;
  //   cursor: pointer;
  //   padding: 5px;
  //   border: #fff solid 4px;
  //   border-radius: 50px;
  //   font-size: 50px;
  //   transition: all 0.3;
  //   vertical-align: middle;
  // }

  @media (min-width: 300px) and (max-width: 600px) {
    .Hero {
      height: 65%;

      &__BackgrVid {
        height: 100%;
      }

      &__WrapOver {
        margin-left: 50px;
        max-width: 90%;
      }

      &__Title {
        margin-top: 150px;
        max-width: 250px;
      }

      &__Desc {
        max-width: 90%;
        font-size: 14px;
      }

      &__BtnPlay {
        width: 120px;
        font-size: 15px;
      }

      &__BtnInfo {
        width: 120px;
        font-size: 15px;
      }

      &__BtnIcon {
        font-size: 20px;
      }

      &__BtnMute {
        border: #fff solid 2px;
        font-size: 40px;
        display: none;
      }
    }
  }

  @media all and (min-width: 600px) and (max-width: 1000px) {
    .Hero {
      &__WrapOver {
        margin-left: 20px;
        max-width: 500px;
        font-size: 15px;
      }

      &__Title {
        margin-top: 300px;
        max-width: 400px;
      }

      &__BtnPlay {
        width: 160px;
        font-size: 15px;
      }

      &__BtnInfo {
        width: 160px;
        font-size: 15px;
      }

      &__Desc {
        max-width: 80%;
        margin-top: 10px;
        font-size: 18px;
      }
    }
  }
}