@import  "../../libs/variabili.scss";

@media screen and (max-width: 767px) {

.modalMobile {
  position: absolute;
  left: 0;
  top:70px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
  width: 100%;
  height: calc(100vh - 70px);
  background-color: $main;
  transition: all 0.3s ease;
  
  }

  .hideGroups {
      left: -100%;
      transition: all 0.3s ease;

  }
}