
@mixin flex($justify:flex-start, $align:flex-start, $dir: row, $gap:20px, $wrap: wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}