@import  "../../libs/variabili.scss";

.profileModals{
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 8px;
    z-index: 3;

    height: 170px;
    width: 300px;
    background-color: $main;
    display: flex;
    flex-direction: column;
   

    p {
        margin: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    img {
        border-radius: 10%;
        
        width: 50px;
        height: 50px;
    }

    button {
        width: 90px;
        height: auto;

        margin: 10px 10px 10px 0;
        font-size: 18px;
        padding: 3px 20px;
        color: white;
        background-color:$mainButton;
           
        &:hover{
                background-color:$mainButtonHover;
            }
            border-radius: 5px;
            border: none;
            cursor: pointer;
    }
    
    .buttonModals, .userProfile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        row-gap: 5px;
        margin-top: 30px;
        margin-left: 40px;
        

    }
}

.hiddenProfileModals {
    top:-300px;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .profileModals{
        right: 6px;
        top: 38px;

        height: 85px;
        width: 150px;
    
        p {
            margin: 5px;
            font-size: 10px;
        }

        img {
            width: 25px;
            height: 25px;
        }
        button {
            width: 50px;

            margin: 6px 6px 16px 0;
            font-size: 10px;
            padding: 3px 10px;
            
            border-radius: 5px;
        }
        .buttonModals, .userProfile {
            row-gap: 5px;
            margin-top: 15px;
            margin-left: 20px;
        }
    }
    
    .hiddenProfileModals {
        top:-300px;
        z-index: 3;
    }
}