@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.SearchInput {
  input {
    opacity: 0;
    width: 0;
    background-color: $black;
    font-size: 12px;
    border: none;
    color: $white;
  }
  &__showInput {
    padding: 10px 10px 10px 50px;
    width: 100vw !important;
    opacity: 1 !important;
  }
  &__display {
    width: 100vw !important;
    opacity: 1 !important;
    padding: 15px 10px 15px 50px;
  }
  span {
    position: relative;
    cursor: pointer;
    z-index: 1;
    padding: 5px 0;
  }
  &__searchBtnMobile {
    position: absolute;
    left: 15px;
    top: -30px;
  }
}

@media (min-width: 700px) {
  .SearchInput {
    @include flex($align: center);
    input {
      transition: opacity 0.5s ease-out;
      transition: width 0.5s ease-out;
      border: 1px solid $white;
      background-color: rgba(0, 0, 0, 0.628);
      font-size: 14px;
    }
    &__showInput {
      width: 198px !important;
      position: relative;
      left: 50px;
    }
    span {
      transition: right 0.5s ease-out;
      right: 0;
      top: 0 !important;
    }
    &__moveBtn {
      right: 158px !important;
    }
  }
}

@media (min-width: 800px) {
  .SearchInput {
    &__showInput {
      width: 250px !important;
    }
    &__moveBtn {
      right: 210px !important;
    }
  }
}
