@import "./../../styles/mixins.scss";

.SliderSection {
  &__Title {
    font-size: 1rem;
    margin: 10px 0 5px 10px;
  }
  @media (min-width: 700px) {
    &__Title {
      font-size: 1.5rem;
      margin: 30px 0 5px 2em;
    }
  }
  &__Slider {
    @include flex($wrap: no-wrap, $gap: 10px, $align: center);
    height: 157px;
    width: 100vw;
    scroll-behavior: smooth;
    position: relative;
    >div>div:first-child{
      img {
        @include imageStyle;
        transition: all 0.5 ease-out;
      }
      img:hover{
        transform: scale(1.1);
      }
    }
  }

  &__Left {
    @include sliderArrows;
    left: 10px;
  }
  &__Right {
    @include sliderArrows;
    right: 10px;
  }

  &__ListEmpty {
    font-size: 24px;
    padding: 50px;
    text-align: left;
    margin: 0;
  }
}
