@import  "../../libs/variabili.scss";

.searchbar {
   
    
    display: flex;
    justify-content: center;
    align-items: center;


    width: 70%;
    height: 60%;
    margin: 6px auto;

    input {
        width: 80%;
        height: 100%;
        
        background-color: $sidebarText;
        color: $mainWhite;
        border: none;
        border-radius: 3px;
        
    }
  }