@import  "../../libs/variabili.scss";

.header {
    display: flex;    
    //align-items: center;
    //justify-content: center;
  
    width: 100%;
    height: 50px;
   
    background-color: $mainHover;
    
  
  
  
  }
