@import "./../../styles/mixins.scss";

.Navbar {
  @include flex($justify: space-between, $align: center);
  padding: 1em;
  height: 80px;

  &__Logo {
    height: 100%;
  }

  &__IconsWrapper {
    > svg {
      margin: 5px;
    }
    font-size: 20px;
  }
}
