@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.Navbar {
  @include flex($justify: space-between, $align: center);
  padding: 0.5em;
  height: 65px;
  position: fixed;
  width: 100vw;
  background: $grey;
  z-index: 1;
  
  &__Wrapper {
    display: flex;
  }
  &__Logo {
    height: 35px;
  }

  &__MenuWrapper{
    list-style-type: none;
    @include flex($justify: space-between, $align: center);;
  }

  &__IconsWrapper {
    position: relative;
    @include flex;
    > svg {
      margin: 5px;
      cursor: pointer;
      font-size: 1.2em;
    }
    @media all and (min-width: 700px) {
      svg{
        font-size:1.4em;
      }
    }
    &__Notify {
      display: none;
    }
    &__SearchGroup {
      @include flex($align:center);
      input {
        opacity: 0;
        width: 0;
        transition: opacity 0.5s ease-out;
        transition: width 0.5s ease-out;
        background-color: rgba(0, 0, 0, 0.628);
        border: 1px solid $white;
        color: $white;

      }
      &__showInput {
        padding: 10px 10px 10px 50px;
        width: 250px !important;
        opacity: 1 !important;
        position: relative;
        left: 50px;
      }
      span{
        position: relative;
        right: 0px;
        transition: right 0.5s ease-out;
        cursor: pointer;
        z-index: 1;
        padding: 5px 0;
      }
      &__moveBtn{
        right: 210px !important;
      }
    }
  }
}

@media all and (min-width: 700px) {
  .Navbar {
    padding: 0 3.5em;

    &__IconsWrapper {
      &__Notify {
        display: block;
      }
    }
  }
}
