@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.Signup {
  background-image: url("./../../assets/accessBg.webp");
  @include flex($dir: column, $align: center, $justify: center, $wrap: no-wrap);
  min-height: 100vh;
  padding-bottom: 50px;

  &__Logo {
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 3;
    width: 150px;
    cursor: pointer;
    @media (min-width: 700px) {
      width: 200px;
    }
  }

  h1 {
    text-align: left;
    z-index: 3;
    width: 80vw;
    padding: 100px 0 0 0;
    max-width: 300px;
    @media all and (min-width: 800px){
      padding-top: 50px;
    }
  }

  &__redirect {
    color: $white;
    font-weight: bold;
    z-index: 3;
    a {
      color: $red;
    }
  }
}
