
.flex-container {
  display: flex;
  flex-direction: column;

  border: 2px solid black;
  width: 1400px;
  height: 700px;

  justify-content: center;
}

.searchbar {
  border: 2px dashed red;
  margin: 20px;


  width: 95%;
  height: 10%;

}

.flexItem-chatt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;


  border: 2px dashed blue;
  margin: 20px;

  width: 95%;
  height: 85%;
}

.conversations {
  border: 2px solid green;
  margin: 10px;

  width: 300px;
  height: 500px;
}

.messages{
  border: 2px solid brown;
  margin: 10px;

  width: 900px;
  height: 500px;
}