@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.Homepage {
    overflow: hidden;
  
    &__FilteredFilmWrapper {
      padding: 0 3.5em;
      margin-top: 90px;
  
      img {
        @include imageStyle;
      }
  
      p {
        margin-bottom: 1.5em;
      }
    }
  
    &__BackBtn {
      @include flex-center;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 16px;
      text-align: center;
      width: 170px;
      margin: 20px;
      border: 1px solid $white;
    }
  
    &__MobileSearch {
      min-height: 100vh;
      padding-top: 120px;
      background-color: rgba(0, 0, 0, 0.84);
      font-size: 12px;
      font-weight: bold;
  
      h1 {
        font-size: medium;
      }
  
      img {
        @include imageStyle;
        height: 100%;
        width: 125px;
        padding: 0;
      }
  
      &__Header {
        position: fixed;
        top: 0;
        height: 100px;
        background-color: black;
        z-index: 1;
      }
  
      &__CloseBtn {
        > svg {
          font-size: 44px;
          padding: 10px;
        }
      }
  
      &__MoviesWrapper {
        &__Section {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100vw;
          p {
            margin-left: 10px;
          }
        }
  
        h1 {
          margin: 10px;
        }
  
        padding: 0 0 40px 0;
  
        > div {
          @include flex($align: center, $gap: 4px);
          background-color: $black;
          margin: 5px 0;
          height: 75px;
          overflow-wrap: break-word;
          cursor: pointer;
          > svg {
            position: absolute;
            right: 10px;
            font-size: 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
  