@import "../../libs/variabili.scss";

.message {
  list-style: none;

  .author {
    display: flex;
    
      
    
    
    justify-content: left;
    img {
      margin: 5px;
      width: 50px;
      height: 50px;
      &:hover{
        cursor: pointer;
      }
    }
    .nameText{
      margin: 8px;
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    .authorDate{
      display: flex;
      align-items: center;
      text-align: center;
    }

    h3 {
      @include myh3;
      font-size: 16px;
      padding: 0 10px;
      margin: 0;
    }
    div {
      display: flex;
      
      small {
        font-size: 8px;
        margin: 0;
      }
    }
  }
  p {
    font-size: 14px;
    padding: 5px 10px;
   
  }
}

@media screen and (max-width: 767px) {
  .message {
    .author {
      img {
        margin: 5px;
        width: 25px;
        height: 25px;
      }
      .nameText{
        margin: 5px;
      }
  
      h3 {
        font-size: 13px;
      }
    }
  }
}